#wrapper{
    width: 100%;
    color:#3B185F;;
    background: #F1F1F6;
    text-align: center;
}
#wrapper h1{
    text-transform: uppercase;
    margin-bottom: 5%;
}
#single-task{
    width: 170px;
    padding: 15px;
    border-radius: 20px;
    border-color: #674188;
    border-style:ridge;
}
.butto{
    background: linear-gradient(45deg,#dc1599,#f99369);
    border: none;
    border-radius: 20px;
    color: #F1F1F6;
    padding: 13px 18px;
    font-size: 18px;
}
.task{
    margin-bottom: 5px;
    margin-top: 20px;
    background: #D3CEDF;
    border-radius: 20px;
    color: #000;
    list-style: none;
    padding: 0 15px;
    line-height: 35px;
}
.task input[type="checkbox"]{
    display: none;
}
.task .delete{
    color: #E0144C;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    float: right;
}
